@page
@model Spry.AuthServer.Pages.Account.ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}


<div class="card card_layout card_width mb-5">
    <img class="mx-auto" alt="achieve logo" src="~/images/achieve-logo-white.svg" />
    <div class="signUp_header_container mt-2">
        <p class="form-info-p"> Enter your email for account confirmation</p>
    </div>
    <form class="signUp w-100" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control ach_input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button id="resendEmailConfirmationSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Proceed</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

