html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: url("/images/gm-mobile.png") #fff repeat;
}

a {
    color: #23B78D;
    font-weight: 600;
    text-decoration: none;
}

    a:hover {
        color: #12946f;
        text-decoration: underline;
    }

.btn-primary {
    background-color: #23B78D;
    border: 1px solid #23B78D;
}

    .btn-primary:hover {
        background-color: #12946f;
        border: 1px solid #12946f;
    }

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

main {
    min-height: 100vh;
}

.form-check-input:checked {
    background-color: #23B78D;
    border-color: #23B78D;
}

.form-control:focus, .form-check-input:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 

.card {
    border-radius: 16px;
    border: 1px solid #F5F5F5;
    background: #FFF;
    padding: 24px 24px 15px 24px;
}

.card__layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card__width {
    width: 391px;
}

.ach__input {
    border-radius: 10px;
    border: 2px solid #FFF !important;
    background: #F5F5F5 !important;
}

.signUp {
}

.signUp__header__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.signUp__header {
    color: #000;
    /* h4/bold */
    font-family: "Libre Franklin";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 130% */
}

label .signUp_subParagraph {
    color: #595959;
    /* paragraph/regular */
    font-family: "Libre Franklin";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 153.333% */
}