@page
@model Spry.Identity.Pages.Account.ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="card card__layout card__width mb-5">
    <img class="mx-auto" alt="achieve logo" src="~/images/achieve-logo-white.svg" />
    <div class="signUp__header__container mt-2 mb-1">
        <h4 id="external-login-title" class="signUp__header">Associate your @Model.ProviderDisplayName account.</h4>
        <p id="external-login-description" class="text-success">
            You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
            Click the Register button to finish logging in.
        </p>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    </div>
    <form class="signUp w-100" id="account" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control ach__input" disabled readonly
            autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

