@page
@model Spry.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@* <partial name="_StatusMessage" model="Model.StatusMessage" />
 *@
<div class="card card__layout card__width mb-5">
    <img class="mx-auto" alt="achieve logo" src="~/images/achieve-logo-white.svg" />
    <div class="signUp__header__container mt-2">
        <p class="form-info-p" style="font-size:13px"> Enter reset code sent to your email or phone number</p>
    </div>
    <form class="signUp w-100" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <input asp-for="Input.UserId" type="hidden" />
        <div class="form-floating mb-3">
            <input asp-for="Input.Code" class="form-control ach__input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Code"></label>
            <span asp-validation-for="Input.Code" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
    </form>
    <form method="post">
        <button asp-page-handler="Resend" asp-route-returnUrl="@Model.ReturnUrl" asp-route-userId="@Model.Input.UserId"
                class="btn btn-link">
            Resend Code
        </button>
    </form>
    <p class="mb-0">@Model.StatusMessage</p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
