@page
@model Spry.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter verification code.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="Input.UserId" type="hidden" />
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Code" class="form-control" aria-required="true" />
                <label asp-for="Input.Code" class="form-label"></label>
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
            <span>Resend code</span>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
