@page
@model Spry.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="card card_layout card_width mb-5">
    <img class="mx-auto" alt="achieve logo" src="~/images/achieve-logo-white.svg" />
    <div class="signUp_header_container mb-4">
        @* <h4 class="signUp__header">Register</h4>
        <p class="form-info-p"> Create a new  account </p> *@
    </div>
    <form class="signUp w-100" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <input asp-for="Input.UserId" type="hidden" />
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control ach__input" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control ach__input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="resetPassword" type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
