@page

@using Microsoft.AspNetCore.Authentication

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (User.Identity!.IsAuthenticated)
    {
        var authenticationResult = await HttpContext.AuthenticateAsync();
        var issued = authenticationResult.Properties!.Items[".issued"];
        var expires = authenticationResult.Properties.Items[".expires"];
        <div>
            <p>You are signed in as</p>
            <h2>@User.Identity.Name</h2>
            <hr />

            <environment include="Development">
                <dl>
                    <dt>Issued</dt>
                    <dd>@issued</dd>
                    <dt>Expires</dt>
                    <dd>@expires</dd>
                </dl>
                <hr />
            </environment>
            
            <p><a class="btn btn-dark" asp-page="./Account/Logout">Sign out</a></p>
        </div>
    }

    @if (!User.Identity.IsAuthenticated)
    {
        <div>
            <p>You are not signed in</p>
            <p><a class="btn btn-sm btn-dark" asp-page="./Account/Login">Sign in</a></p>
        </div>
    }
</div>

